:root {
    --brand-color:#212121;
    --bacraund-color-button:#2196F3;
    --p-color:#757575;
    --hero-white: #ffffff;
    --fon:#2F303A;
}

/* King tags */
body {
    color: var(--p-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    width: 1600px;
}

.section {
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* outline: 2px solid tomato;  */
}

.list {
    text-decoration: none;
    list-style: none;
    color: currentColor;
}

/*  Reset */
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}



/* LogoTipe (logo span) */

.logo {
    color: #000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    margin-right: 93px;
    margin-left: 200px;
    }

.logoweb {
    color: var(--bacraund-color-button);
}


/* Naw Header */

.header-container {
    display: flex;
    align-items: center;
    width: 1600px;
    height: 80px;

    border: 1px solid #ECECEC;
}


.item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}


.heder-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.heder-list-con {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 344px;
}

.link {
    color: var(--brand-color);
    text-decoration:none;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.active,
.link:hover {
    color: var(--bacraund-color-button);
}


.adres-headerr {
    color: var(--p-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    margin: 0;
}

.adres-headerr a:focus,
.adres-headerr a:hover {
    color: var(--bacraund-color-button)
}


/* Hero */

.hero {
    background-color: #2F303A;
    height: 600px;
    width: 1600px;
}


.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-white);

    padding-top: 200px;
}


/* Button all */

.hero-button {
    font-family: 'Roboto';
    cursor: pointer; 
    background: var(--bacraund-color-button);
    border-radius: 4px;
    color: var(--hero-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    min-height: 50px;

    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    margin-top: 30px;
    margin-left: 692px;
}

.hero-button:focus,
.hero-button:hover {
    background-color: var(--hero-white);
    color: var(--bacraund-color-button);
}
/*  /Hero button  */



/* Button filtr */

.botton-filtr {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--brand-color);
    text-align: center;
    border: 0;
    background-color: var(--hero-white);
    border-radius: 4px;
}

.botton-filtr:focus, 
.botton-filtr:hover {
    background-color: var(--bacraund-color-button);
    color: var(--hero-white);

}

.filtr-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.flex {
    display: block;
     margin: 94px 8px 50px 0px;
    /* padding: 7px 8px 7px 8px; */
    padding: 0px 22px 0px 22px;
    height: 40px;
}
/* /Button filtr */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* TEXT MAIN */

.progres {
    display: flex;
    gap: 30px;
}

.progres-div {
    padding-top: 94px;
}

.size-info {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--brand-color);

    padding-bottom: 10px;
}

.progres p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
}

/* Portfolio */

.us-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--brand-color);

    padding-bottom: 50px;
}



.img-work {
    display: flex;
    gap: 30px;
    margin: 0;
}



.us-team {
    display: flex;
    gap: 30px;
}

.d-block li {
    width: 270px;
    min-height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.delopers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--brand-color);

    padding-bottom: 10px;
}

.delopers-p {
    font-size: 16px;
    line-height: 1.9;
}



/* Button Filtr */


.botton-filtr {
    cursor: pointer;
}

.botton-filtr :focus,
.botton-filtr :hover {
    cursor: pointer;
    background-color: var(--bacraund-color-button);
    color: aqua;
}

/* Menu portfolio */

.menu {
    margin-top: 34px;
}


.menu-p {
    color: var(--p-color);
    font-size: 16px;
    line-height: 1.87;
    text-decoration:none;

    margin-top: 4px;
}

.menu-h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.77;
    letter-spacing: 0.06em;
    list-style:none;
    text-decoration:none;
    color: var(--brand-color);

    margin-top: 20px;
}

.filtr {
    position: absolute;
    top: -9999px;
    left: -9999px;
     
}


/* Footer portfolio */

.logo-footer {
    color: var(--hero-white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    padding-left: 215px;
}

.adres-footer {
    color: var(--p-color);
    font-style: normal;
}

.addres .addres-ul {
    margin-left: 215px;
    margin-top: 20px;
    padding: 0;
}

.addres-ul li {
    margin-bottom: 9px;
}

.addres-ul :hover {
    color: var(--bacraund-color-button);
}

.str {
    color: var(--hero-white);
    font-style:normal;
}

.footer-all {
    background-color: var(--fon);
    padding-top: 60px;
    padding-bottom: 60px;
    width: 1600px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    list-style: none;
    margin-top: 0;
  }
  
  .items {
    flex-basis: calc((100% - 10px) / 4);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 94px;
  }

  .items:hover {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  
  .items h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  .items p {
    margin: 0;
  }

